.notice {
    background-color: $primary-color;
    height: 4rem;
    margin-top: 7.5rem;
    margin-bottom: 4rem;
    &-text {
        color: #fff;
        text-align: center;
        line-height: 4rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}