.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.pagination-item {
	margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
	color: #fff;
	background-color: $primary-color;

	&:hover {
		opacity: 0.8;
	}
}

.pagination-item-icon {
}

.pagination-item__link {
	--height: 30px;
	display: block;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 300;
	color: #939393;
	min-width: 40px;
	height: var(--height);
	line-height: var(--height);
	border-radius: 2px;
	text-align: center;
}
