// code ở login: "_login.scss";


.registered-desc-l,
.registered__desc-heading {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin: 0 0 3.2rem;
}

.registered__desc-heading {
    padding-left: 2.4rem;
}