body{margin: 0px;
    font-family: 'Montserrat', sans-serif;

}
        #overall{
            background: dimgray; width: 100%; height: 1000px;
              position: relative; margin-top: 20px; display: flex; text-justify: flex-start;
        }
        #container{
            background: darkgray; 
            width: 100%; height: 7%; 
            display: flex; justify-content: space-between;
            float: left; 
            position: fixed;     
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 99;
        }
        #container > #logo{
            float: left; width: 20%; display: flex; justify-content: center;
        }
        #logo img{
            width: 30px; padding: 10px;
        }
        #container > #search{
            margin: auto; max-width: 50%; 
            justify-content: center;
            align-items: center;
            display: flex;
        }
        #search img{
            margin: 10px 20px; width: 25px; height: 25px; 
            float: left;padding: 0px 20px; 
            background: dimgray; 
            border: 1px solid black;
        }
        #search input[type=text] {
  width: 320px;
  padding: 10px 20px;
  margin-top: 3px;
  box-sizing: border-box;
  float: left;
  border-radius: 15px;
}
         #container > #logout{
             max-width: 20%; float: right; justify-content: center; align-items: center; display: flex;
         }
         #container > #logout> a > img{
             padding: 9px 15px; width: 30px;  background: darkgray;
         }
         #overall > #left{
             width: 20%; height: 100%; background: darkgray; position: relative;
         }
         #left >#menu{
            max-width: 90% ; height: 100%; position: fixed;
                }
                ul{
                    list-style: none;
                    text-align: left;

                }
                ul>li{
                    font-size: 30px;
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px;
                    border-radius: 15px;
                            }
                ul>li>a{
                    text-decoration: none;
                    color: darkslategray;
                    
                }
                li:hover{
                    background-color: dimgray;
                }
                hr {
                    border: 2px solid dimgray;
                    border-radius: 2px;
                    width: 100%;
                }
        #overall > #right{
            width: 80%; height: 100%; float: right; background: dimgray; position: relative;
        }
            #overall > #right>.title{
                width: 100%; height: 60px; background: orange;
                position: fixed; justify-content: space-evenly; display: flex;
            }
            #overall > #right>.title>.title1{
                font-size: 35px; display: flex;
                align-items: center;
            }
            #overall > #right>.title>.title2{
                display: flex;
                align-items: center;
            }
            .title2 div button{
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                background: rgb(17, 161, 161);
                width: 100%;
                border: 0;
                padding: 10px;
                color: #FFFFFF;
                font-size: 20px;
                cursor: pointer;
            }
            #right>.list_product{
                background: forestgreen; margin-top: 60px;
            }
                .list_product>.products{
                        background: #34495E;
                        color: #fff;
                        border-radius: 0px;
                        overflow: hidden;
                        width: 100%
                }
                th{
                    padding: 6px 0px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    border-bottom: solid 5px 

                }
                td{
                    padding: 15px;
                    text-align: left;
                    font-weight: 300;
                    font-size: 16px;
                    color: #fff;
                    border-bottom: solid 1px 
                }
                td>img{
                    width: 100px;
                }
                td>a{
                    color: aqua;
                }
            #right>.add_products{
                margin-top: 60px; margin-left: 30%;
            }
    #login_form{
        width: 400px;
        margin: auto;        
    }
    .login{
        background: darkgrey;
        max-width: 100%;
        padding: 30px;
        text-align: center;
    }
    .login input{
        font-family: Arial, Helvetica, sans-serif;
        background: #f2f2f2;
        width: 70%;
        border: 0;
        margin: 0 0 20px;
        padding: 25px;
        font-size: 14px;
    }
    .login button{
        font-family: Arial, Helvetica, sans-serif;
        background: dimgray;
        width: 70%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
    }
    .login a{
        text-decoration: none;
    }
    .login button:hover{
        background: #34495E; font-size: 18px;
    }
    .highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
/*-----------charts----------*/
#container1{
    width:100%;

}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: darkcyan;
}

.highcharts-data-table tr:hover {
  background: darkcyan;
}

input[type="number"] {
  min-width: 50px;
}

        